{% extends 'Base.html' %}

{% block content %}
    <body>
        <div class="container">
            <h5>Applications</h5>
            <div class="row">
                <a href="{% url 'upload_file' %}" class="tile">
                    <div class="col s12 m3">
                  <div class="card-panel blue lighten-5 center">
                    <h4 style="color: darkblue"><i class="material-icons large">&#xe8b0;</i></h4>
                      <h6 style="color: midnightblue"><b>Journaux de caisse</b></h6>
                  </div>
                </div>
                </a>
                <a href="#" class="tile">
                    <div class="col s12 m3">
                    <div class="card-panel blue lighten-5 center">
                    <h4 style="color: darkblue"><i class="material-icons large">&#xe89c;</i></h4>
                        <h6 ><b>Droits de stationnement</b></h6>
                  </div>
                </div>
                </a>
                 <a href="#" class="tile">
                    <div class="col s12 m3">
                  <div class="card-panel blue lighten-5 center">
                    <h4 style="color: darkblue"><i class="material-icons large">&#xe854;</i></h4>
                    <h6>Créer un ticket</h6>
                  </div>
                </div>
                </a>
                <a href="#" class="tile">
                    <div class="col s12 m3">
                  <div class="card-panel blue lighten-5 center">
                    <h4 style="color: darkblue"><i class="large material-icons">insert_chart</i></h4>
                    <h6>Rapports</h6>
                  </div>
                </div>
                </a>
            </div>
        </div>
    </body>
{% endblock %}
