<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.9.3/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.9.3/dist/js/uikit-icons.min.js"></script>


</head>
<style>
    body {
        margin: 0;
        padding: 0;

    }
    .dataTables_wrapper
    .dataTables_filter input{
        border: 4px solid #141414;
        border-radius: 10px;
    }
    .dataTables_wrapper .dataTables_paginate .paginate_button {
        border-radius:25px;
    }
    tbody{
        border-radius: 25px;
    }
</style>
<body>
<div class="uk-position-center">
    <form action="{% url "upload_file" %}" method="POST" enctype="multipart/form-data" class="form-horizontal">
    {% csrf_token %}
    <div class="form-group">
        <label for="name" class="col-md-3 col-sm-3 col-xs-12 control-label">File: </label>
        <div class="col-md-8">
            <input type="file" name="csv_file" id="csv_file" required="True" class="form-control">
        </div>
    </div>
    <div class="form-group col-md-1">
        <input type="text" name="sep" id="sep" class="form-control" placeholder="séparation , ou ; ?">
    </div>
    <div class="form-group ">
        <div class="col-md-3 col-sm-3 col-xs-12 col-md-offset-3" style="margin-bottom:10px;">
             <button class="btn btn-primary">Upload</button>
        </div>
    </div>
    </form>
</div>
    <p></p>


<table id="table_id" class="row-border hover order-column cell-border">
    <thead>
        <tr>
            {% for i in test2 %}
            <th>{{ i }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for i in test.values %}
        <tr>
            {% for j in i %}
            <td>{{ j }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>

<div>
    {{ payement|safe }}
</div>

{% comment %}<div>
    {% for i in payement2 %}
        <th>{{ i }}</th>
    {% endfor %}
</div>{% endcomment %}

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
<script>
    $(document).ready( function () {
    $('#table_id').DataTable();
} );
</script>
</body>
</html>